body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(./fotos/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navigatie ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}
