body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-image: url(./img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

header{
    background: green;
}

.navigatie{
    float: right;
}

.navigatie ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigatie a{
    color: white;
    text-decoration: none;
    display: block;
}

.logo{
    float: left;
}

