/* Standaard waardes & navigatie */
:root {
    --mainColor: rgba(252, 0, 0, 0.527);
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color: black;
    
}

.container{
    width: 80%;
    margin: 0 auto;
}

header::after{
    content: '';
    display: table;
    clear: both;
}



.navigatie{
    float: right;
}

.navigatie ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigatie li{
    display: inline-block;
    margin-left: 30px;
    padding-top: 50px;
}

.navigatie a{
    color: black;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-in-out;
}

.navigatie a:hover{
    color: red;
    transform: scale(1.3);
}

.logo{
    float: left;
    padding: 0px 0;
    transition: all 0.3s ease-in-out;

}

img.logo{
   width: 18ch;
   
}

.logo:hover{
    transform: scale(1.3);
}

.paginacontent{
    display: block;
    width: 80%;
    margin: auto;
}

/* Animatie logo */
  
svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 300px;
    height: auto;
    /* margin: 0 auto; */
    font-style: unset;
    float: left;
    padding: 0px 0;
    margin-left: -2%;
    transition: all 0.3s ease-in-out;
}

svg:hover{
    transform: scale(1.3);
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #c92525;
    animation-delay: -1;
}

.text-copy:nth-child(2){
    stroke: #840037;
    animation-delay: -2s;
}

.text-copy:nth-child(3){
    stroke: #BD0034;
    animation-delay: -3s;
}

.text-copy:nth-child(4){
    stroke: #BD0034;
    animation-delay: -4s;
}

.text-copy:nth-child(5){
    stroke: #9c1313;
    animation-delay: -5s;
}

@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
}

/* Back to top button */
#backtotopbtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: white;
    color: red;
    cursor: pointer;
    outline: none;
    border: 3px solid red;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}

#backtotopbtn:hover, #backtotopbtn:focus{
    background-color: red;
    color: white;
}

.btnEntrance{
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}

@keyframes btnEntrance {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

.btnExit{
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}

@keyframes btnExit{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

/* Over pagina */
.aboutcontainer{
    
    width: 30%;
    height: auto;
    position: absolute;
    left: 13%;
    top: 20%;
    text-align: center;
    
}

.fotocontainer{
    
    width: 30%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 20%;
    text-align: center;
    
}

.fotome{
    
    
    width: 100%;
    height: auto;
    border-radius: 2ch;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

h1#titleover{
    text-align: center;
    font-size: 50px;
}

p#sign{
    font-family:'Mr Dafoe', cursive;
    font-size: 40px;
}

.socialbutton{
    color: black;
    text-align: center;
    font-size: 60px;
    padding-right: 15px;
    transition: all 0.3s ease-in-out; 
}
.socialbutton:hover{
    color: red;
}

/* Leeruitkomsten pagina */

.paginacontent{
    margin-bottom: 5%;
}

.backknopregel{
    margin-top: 5%;
    margin-left: 4.2%;
    color: grey;
    text-decoration: none;
}

#vorigepagina{
    text-decoration: none;
    color: grey;
}

#huidigepagina{
    text-decoration: none;
    color: red;
}

h1.subpagetitle{
    margin-left: 4.2%;
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 50px;
    
}

.leeruitkomstbuttons{
    margin-left: 3.7%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.lbuttons{
    width: 33%;
    margin: 15px;
    height: 250px;
    width: 400px;
    border: none;
    border-radius: 10px;
    /* opacity: 60%; */
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    /* text-shadow: 2px 1px black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease-in-out;
    
}

.lbuttons:hover{
    transform: scale(1.1);
    opacity: 100%;
    font-size: 32px;
    color: white;
    
}



#buttonIM{
    background-image: url(../img/);
    background-color: #c92525;
    background-image: linear-gradient(164deg, #c92525 0%, #840037 1%, #bd0034 66%, #9c1313 100%);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#buttonDEV{
    background-image: url(../img/);
    background-color: #c92525;
    background-image: linear-gradient(180deg, #c92525 0%, #840037 1%, #bd0034 66%, #9c1313 100%);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#buttonDS{
    /* background-image: linear-gradient(to right, #ff0800 0%, #b31217  51%, #e52d27  100%);  */
    background-color: #c92525;
    background-image: linear-gradient(194deg, #c92525 0%, #840037 1%, #bd0034 66%, #9c1313 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

#buttonRS{
    /* background-image: url(../img/goose.png); */
    background-color: #c92525;
    background-image: linear-gradient(16deg, #c92525 0%, #840037 1%, #bd0034 66%, #9c1313 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

#buttonCOM{
    background-image: url(../img/);
    background-color: #c92525;
    background-image: linear-gradient(0deg, #c92525 0%, #840037 1%, #bd0034 66%, #9c1313 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

#buttonPI{
    background-image: url(../img/);
    background-color: #c92525;
    background-image: linear-gradient(344deg, #c92525 0%, #840037 1%, #bd0034 66%, #9c1313 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

/* leeruitkomsten pagina's indeling */

.leeruitkomst-kolom1{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.imglinks-leeruitkomst{
    margin-left: 4.2%;
    width: 50%;
    height: auto;
    border-radius: 2ch;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* cursor: pointer; */
}

.imgrechts-leeruitkomst{
    width: 50%;
    border-radius: 2ch;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* cursor: pointer; */
}

#laatsteleeruitkomst{
    margin-bottom: 100px;
}

.beschrijvingrechts{
    width: 50%;
    margin-left: 10px;
    text-align: center;
    padding: 90px;
}

.beschrijvinglinks{
    width: 50%;
    margin-right: 10px;
    margin-left: 4.2%;
    text-align: center;
    padding: 90px;
    
}

.leeruitkomst-kolom2{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 5%;
}

h1.titelblok{
    margin-bottom: 30px;
    font-size: 40px;
}


.button {background-image: linear-gradient(to right, #ff0800 0%, #b31217  51%, #e52d27  100%)}
.button {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 2ch;
   border-style: none;
   font-size: 18px;
   font-family: 'Montserrat', sans-serif;
   margin-top: 30px;
   cursor: pointer;
   
}

.button:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
}

/* leertuitkomsten pagina's */
.leeruitkomstheader{
    margin-left: 4.2%;
    width: 50%;
}

h1.subpagetitleLU{
    font-size: 50px;
    margin-top: 5%;
    margin-bottom: 2.5%;
}


.buttongit {background-image: linear-gradient(to right, #ff0800 0%, #b31217  51%, #e52d27  100%)}
.buttongit{
    
    padding: 15px 45px;
    text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 2ch;
   border-style: none;
   font-size: 18px;
   font-family: 'Montserrat', sans-serif;
   margin-top: 5%;
   cursor: pointer;
}

.buttongit:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.buttondemo {background-image: linear-gradient(to right, #ff0800 0%, #b31217  51%, #e52d27  100%)}
.buttondemo{
    margin-left: 2%;
    padding: 15px 45px;
    text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 2ch;
   border-style: none;
   font-size: 18px;
   font-family: 'Montserrat', sans-serif;
   margin-top: 5%;
   cursor: pointer;
}

a.linkjenaarproject{
    /* color: black;
    text-decoration: underline;
    text-decoration-color: red; */
    background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size .2s;
}

a.linkjenaarproject:hover{
    background-size: 4px 50px;
}

.buttondemo:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.demobuttons{
    margin-left: 4.2%;
}

.kolomgeleerd{
    width: 50%;
    margin-left: 4.2%;
    margin-bottom: 2.5%;
}

.kolombeter{
    width: 50%;
    margin-left: 4.2%;
    margin-top: 2.5%;
}

h1#LUkolom45{
    font-size: 40px;
    margin-bottom: 2.5%;
}

.kolommengeleerdbeter{
    display: inline-block;
    margin-bottom: 100px;
}

.volgendproject{
    margin-left: 4.2%;
    margin-top: 100px;
}

#volgendeprojectknop{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 40px;
    transition: all 0.3s ease-in-out;
}

#volgendeprojectknop:hover{
    padding-left: 8px;
}

#vptekst{
    color: red;
}

#slideshow div{
    width: 50vw;
    


}

#slideshow img{
   width: 50vw;
   height: auto; 
}

#slideshow{
    padding: 0px 0;
    margin: 0 1vw;
    
}

img {
    width: 100%;
}

.sliderlinks{
    margin-left: 4.2%;
    width: 50%;
}

#uxfoto1{
    height: 500px;
}